<%= error_messages_for(@branch) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Branch form fields">
    <tbody>
      <tr>
        <th><%= f.label(:name, t(:name)) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:id_code, t(:id)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr>      
      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th><%= f.label(:company_id, t(:company)) %></th>
        <td><%= @branch.company.name %></td>
      </tr>
    </tbody>
  </table>
  <%= f.hidden_field(:company_id, :value => @branch.company_id) %>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>