<% @page_title = t(:company).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), :action => "login") %>

<div class="companies new">
  <h2><%= t(:register) + " " + t(:company) %></h2>

  <%= form_for(:company, :url => {:action => 'company_create'}) do |f| %>

    <%= render(:partial => "company_form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag(t(:register) + " " + t(:company)) %>
    </div>

  <% end %>

</div>