<% @page_title = t(:professional).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), :action => "login") %>

<div class="professional delete">
	<h2><%= t(:delete) + " " + t(:professional) %></h2>

	<%= form_for(:professional, :url => {:action => 'professional_destroy' , :id => @professional.id}) do |f| %>

		<p> <%= t(:delete_message) %> </p>

		<p class="reference-name"><%= @professional.email %></p>

		<div class="form-buttons">
			<%= submit_tag(t(:delete) + " " + t(:professional)) %>
		</div>
	<% end %>
</div>