<%= error_messages_for(@client) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Client form fields">
    <tbody>
      <tr>
        <th><%= f.label(:company_id, t(:company)) %></th>
        <td><%= @is_company ? @current_user.name : f.collection_select(:company_id, @current_user.companies, :id, :name,include_blank: true) %></td>
        <%= @is_company ? f.hidden_field(:company_id, :value => @current_user.id) : "-" %>
      </tr>
      <tr>
        <th><%= f.label(:branch_id, t(:branch)) %></th>
        <td><%= @is_company ? f.collection_select(:branch_id, @current_user.branches, :id, :name, include_blank: true) : f.grouped_collection_select(:branch_id, @current_user.companies, :branches, :name, :id, :name, include_blank: true) %></td>
      </tr>
      <tr>
        <th><%= f.label(:first_name, t(:first_name)) %></th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:last_name, t(:last_name)) %></th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:id_code, t(:id)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr>
      <tr>
        <th><%= f.label(:dob, t(:dob)) %></th>
        <td><%= f.date_select(:dob, {:start_year => 1900, :end_year => Time.zone.now.year}) %></td>
      </tr>
      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>

<%# JS function to refresh the selectors %>
<%= javascript_tag do %>
window.onload = function() {
  var branches;  
  branches = $('#client_branch_id').html();
  return $('#client_company_id').change(
    function() {
      var company, options_branches;
      company = $('#client_company_id :selected').text();      
      options_branches = $(branches).filter("optgroup[label='" + company + "']").html();
      if (options_branches) {
        $('#client_branch_id').html(options_branches);
      } else {
        $('#client_branch_id').empty();
      }
      return;
    }    
  );
};
<% end %>