<% @page_title = t(:client).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), [@user, params[:controller]], :class => 'back-link') %>

<div class="client edit">
  <h2><%= t(:update) + " " + t(:client) %></h2>

  <%= form_for([@user, @client]) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag(t(:edit) + " " + t(:client)) %>
    </div>

  <% end %>

</div>