<%= error_messages_for(@company) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Company form fields">
    <tbody>
      <tr>
        <th><%= f.label(:name, t(:name)) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:id_code, t(:id)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr>      
      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>      
    </tbody>
  </table>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>