<%= error_messages_for(@company) %>

<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Company form fields">
    <tbody>
      <tr>
        <th><%= f.label(:name, t(:name)) %></th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:id_code, t(:id)) %></th>
        <td><%= f.text_field(:id_code) %></td>
      </tr>      
      <tr>
        <th><%= f.label(:email, t(:email)) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th><%= f.label(:time_zone, t(:time_zone)) %></th>
        <td><%= f.time_zone_select(:time_zone, [ActiveSupport::TimeZone["London"], ActiveSupport::TimeZone["Bogota"],ActiveSupport::TimeZone["Mexico City"]], default: "Bogota") %></td>
      </tr>    
    </tbody>
    <%= f.hidden_field(:id_token, :value => @company.id_token) %>
    <%= f.hidden_field(:is_virtual, :value => @company.is_virtual) %>
  </table>
</div>

<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>