<% @page_title = t(:company).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), [@user, params[:controller]], :class => 'back-link') %>

<div class="companies new">
  <h2><%= t(:create) + " " + t(:company) %></h2>

  <%= form_for([@user, @company]) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%#= f.hidden_field(:professionals, :value => @user.id) %>

    <div class="form-buttons">
      <%= submit_tag(t(:create) + " " + t(:company)) %>
    </div>

  <% end %>

</div>