<% @page_title = t(:company).pluralize(locale) %>

<%= @current_user ? link_to("<< " + t(:return_to), [@current_user, params[:controller]]) : "-" %>
<%#= link_to("<< " + t(:return_to), [@current_user, params[:controller]], :class => 'back-link') %>

<div class="Company show">
  <h2><%= t(:show) + " " + t(:company) %></h2>

  <div>
    <%= button_to( {controller: "companies", action: "edit"}, :class => "btn btn-primary btn-xs", :method => :get ) do%>
      <span class="glyphicon glyphicon-pencil"></span><%=" "+ t(:edit) %>
    <% end %>    
    <%= button_to( {controller: "companies", action: "delete"}, :class => "btn btn-danger btn-xs", :method => :get ) do%>
      <span class="glyphicon glyphicon-fire"></span><%=" "+ t(:delete) %>
    <% end %>
  </div>

  <div class="table-responsive">
    <table id="show_table" class="display responsive" summary="Company detail view">
      <tbody>
        <tr>
          <th><%= t(:name) %></th>
          <td><%= @company.name %></td>
        </tr>        
        <tr>
          <th><%= t(:id) %></th>
          <td><%= @company.id_code %></td>
        </tr>        
        <tr>
          <th><%= t(:email) %></th>
          <td><%= @company.email %></td>
        </tr>        
        <tr>
          <th><%= link_to(t(:professional).pluralize(locale), @is_company ? [@company, :professionals] : [@current_user]) %></th>
          <td><%= @is_company ? @company.professionals.size : "1" %></td>
        </tr>
        <tr>
          <th><%= link_to(t(:branch).pluralize(locale), @is_company ? [@company, :branches] : [@current_user, :branches, {:company_id => @company.id}]) %></th>
          <td><%= @company.branches.size %></td>
        </tr>
        <tr>
          <th><%= link_to(t(:client).pluralize(locale), @is_company ? [@company, :clients] : [@current_user, :clients, {:company_id => @company.id}]) %></th>
          <td><%= @is_company ? @company.clients.size : @current_user.clients.select {|s| s.company_id == params[:id].to_i}.size %></td>
        </tr>
        <tr>
          <th><%= link_to(t(:appointment).pluralize(locale), @is_company ? [@company, :appointments] : [@current_user, :appointments, {:company_id => @company.id}])  %></th>
          <td><%= @is_company ? @company.appointments.size : @current_user.appointments.select {|s| s.company_id == params[:id].to_i}.size %></td>
        </tr>
        <tr>
          <th><%= t(:pass_active) %></th>
          <td><%= @company.pass_active %><%#= status_tag(@company.pass_active) %></td>
        </tr>
        <tr>
          <th><%= t(:acc_active) %></th>
          <td><%= @company.acc_active %><%#= status_tag(@company.acc_active) %></td>
        </tr>
        <tr>
          <th><%= "ID Token" %></th>
          <td><%= @company.id_token %></td>
        </tr>
        <tr>
          <th><%= "is Virtual?" %></th>
          <td><%= @company.is_virtual %></td>
        </tr>
        <tr>
          <th><%= "is Default?" %></th>
          <td><%#= @company.is_default %></td>
        </tr>
        <tr>
        <tr>
          <th><%= t(:last_in) %></th>
          <td><%= @company.last_in %></td>
        </tr>
        <tr>
          <th><%= t(:created_at) %></th>
          <td><%= @company.created_at %></td>
        </tr>
        <tr>
          <th><%= t(:updated_at) %></th>
          <td><%= @company.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>

<%= javascript_tag("$(document).ready( function () {$('#show_table').DataTable();} );") %>
<%= javascript_tag("$('#show_table').DataTable( {responsive: true, paging: false} );") %>

</div>