<%= error_messages_for(@appointment) %>


<div class="table-responsive">
  <table id="fields_table" class="display responsive" summary="Appointment form fields">
    <tbody>
      <tr>
        <th><%= f.label(:professional_id, t(:professional)) %></th>
        <td><%= @is_company ? f.collection_select(:professional_id, @current_user.professionals, :id, :first_name , include_blank: true) :  @appointment.professional.first_name + " " + @appointment.professional.last_name %></td>        
      </tr>
      <tr>
        <th><%= f.label(:company_id, t(:company)) %></th>
        <td><%= @is_company ? @current_user.name : f.collection_select(:company_id, @current_user.companies, :id, :name,include_blank: true) %></td>
      </tr>
      <tr>
        <th><%= f.label(:branch_id, t(:branch)) %></th>
        <td><%= @is_company ? f.collection_select(:branch_id, @current_user.branches, :id, :name, include_blank: true) : f.grouped_collection_select(:branch_id, @current_user.companies, :branches, :name, :id, :name, include_blank: true) %></td>
      </tr>
      <tr>
        <th><%= f.label(:client_id, t(:client)) %></th>
        <td><%= @is_company ? f.collection_select(:client_id, @current_user.clients, :id, :first_name, include_blank: true) : f.grouped_collection_select(:client_id, @current_user.companies, :clients, :name, :id, :first_name, include_blank: true) %></td>
      </tr>
      <tr>
        <th><%= f.label(:shared, t(:shared)) %></th>
        <td><%= f.check_box(:shared) %></td>
      </tr>
      <tr>
        <th><%= f.label(:needs_folloup, t(:needs_folloup)) %></th>
        <td><%= f.check_box(:needs_folloup) %></td>
      </tr>
      <tr>
        <th><%= f.label(:time_zone, t(:time_zone)) %></th>
        <td><%= Time.zone.name %></td>
      </tr>
      <tr>
        <th><%= f.label(:date_time, t(:date_time)) %></th>
        <td><%= f.datetime_field(:date_time, :id => "datetimepicker1") %></td>
      </tr>
      <tr>
        <th><%= f.label(:status, t(:status)) %></th>
        <td><%= f.text_field(:status) %></td>
      </tr>
      <tr>
        <th><%= f.label(:task_type, t(:task_type)) %></th>
        <td><%= f.text_field(:task_type) %></td>
      </tr>
      <tr>
        <th><%= f.label(:task_note, t(:task_note)) %></th>
        <td><%= f.text_area(:task_note) %></td>
      </tr>

      <tr>
        <th><%= f.label(:total_project_price, t(:total_project_price)) %></th>
        <td><%= f.text_field(:total_project_price) %></td>
      </tr>
      <tr>
        <th><%= f.label(:task_payment, t(:task_payment)) %></th>
        <td><%= f.text_field(:task_payment) %></td>
      </tr>
      <tr>
        <th><%= f.label(:professional_fee, t(:professional_fee)) %></th>
        <td><%= f.text_field(:professional_fee) %></td>
      </tr>
      <tr>
        <th><%= f.label(:remaining_project_payment, t(:remaining_project_payment)) %></th>
        <td><%= f.text_field(:remaining_project_payment) %></td>
      </tr>
    </tbody>
    <%= f.hidden_field(:time_zone, :value => Time.zone.name) %>
  </table>  
</div>


<%= javascript_tag("$(document).ready( function () {$('#fields_table').DataTable();} );") %>
<%= javascript_tag("$('#fields_table').DataTable( {responsive: true, paging: false} );") %>
<%= javascript_tag("$(function () {$('#datetimepicker1').datetimepicker({locale: '" + I18n.locale.to_s + "',format: 'DD/MM/YYYY HH:mm',defaultDate: '" + @appointment.date_time.to_s + "',inline: true,sideBySide: true})});") %>

<%# JS function to refresh the selectors %>
<%= javascript_tag do %>
window.onload = function() {
  var clients, branches;
  clients = $('#appointment_client_id').html();  
  branches = $('#appointment_branch_id').html();
  return $('#appointment_company_id').change(
    function() {
      var company, options_clients, options_branches;
      company = $('#appointment_company_id :selected').text();
      options_clients = $(clients).filter("optgroup[label='" + company + "']").html();
      options_branches = $(branches).filter("optgroup[label='" + company + "']").html();
      if (options_clients) {
        $('#appointment_client_id').html(options_clients);
      } else {
        $('#appointment_client_id').empty();
      }
      if (options_branches) {
        $('#appointment_branch_id').html(options_branches);
      } else {
        $('#appointment_branch_id').empty();
      }
      return;
    }
    
  );

};
<% end %>
        


