<% @page_title = t(:appointment).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), professional_appointments_path(@professional.id), :class => 'back-link') %>


<div class="appointment delete">
	<h2><%= t(:delete) + " " + t(:appointment) %></h2>

	<%= form_for(:appointment, :url => professional_appointment_path(@professional.id,@appointment.id), :html => {:method => :delete}) do |f| %>

		<p> <%= t(:delete_message) %> </p>

		<p class="reference-name"><%= @appointment.date_time %></p>

		<div class="form-buttons">
			<%= submit_tag(t(:delete) + " " + t(:appointment)) %>
		</div>
	<% end %>
</div>