<% @page_title = t(:appointment).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), [@user, params[:controller]], :class => 'back-link') %>

<div class="appointment delete">
	<h2><%= t(:delete) + " " + t(:appointment) %></h2>

	<%= form_for([@user, @appointment], :html => {:method => :delete}) do |f| %>

		<p> <%= t(:delete_message) %> </p>

		<p class="reference-name"><%= @appointment.date_time %></p>

		<div class="form-buttons">
			<%= submit_tag(t(:delete) + " " + t(:appointment)) %>
		</div>
	<% end %>
</div>