<% @page_title = t(:appointment).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), professional_appointments_path(@professional.id), :class => 'back-link') %>


<div class="appointments edit">
  <h2><%= t(:update) + " " + t(:appointment) %></h2>

  <%= form_for(@appointment, :url => professional_appointment_path(@professional.id,@appointment.id)) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag(t(:edit) + " " + t(:appointment)) %>
    </div>

  <% end %>

</div>