<% @page_title = t(:appointment).pluralize(locale) %>

<div class="appointments index">
  
<%= @current_user ? link_to("<< " + t(:home), [@current_user]) : "-" %>
<br /><br />
  
<%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " " +t(:add_new_appointment), [:new, @current_user, params[:controller].singularize], :class => 'action new') %>

    
  <div><%= @appointments.size.to_s + " " + t(:appointment).pluralize(@appointments.size, locale) + " " + t(:found) %></div>

  

  <div class="table-responsive">
    <table id="index_table" class="display responsive" summary="appointment list">
      <thead class="thead-inverse">
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= select_tag("col2_filter", "",html_options={ class: "column_filter", :onchange => "filterColumn(2)", :include_blank => true}) %></th>
          <th>&nbsp;</th>
          <th><%= select_tag("col4_filter", "",html_options={ class: "column_filter", :onchange => "filterColumn(4)", :include_blank => true}) %></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th><%= t(:show) %></th>
          <th><%= t(:company) %></th>
          <th><%= t(:branch) %></th>
          <th><%= t(:professional) %></th>
          <th><%= t(:client) %></th>
          <th><%= t(:date_time) %></th>
          <th><%= t(:status) %></th>
          <th><%= t(:task_type) %></th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
        
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= appointment.id %></td>           
            <td> <%= link_to [@current_user, appointment] do %> <span class="glyphicon glyphicon-eye-open"></span> <% end %> </td>
            <td><%= appointment.company_id ? appointment.company.name : "" %></td>
            <td><%= appointment.branch_id ? appointment.branch.name : "" %></td>
            <td><%= appointment.professionals.size == 0 ? "" : appointment.professionals.size > 1 ? t(:multiple_professionals) : appointment.professionals.first.first_name + " " + appointment.professionals.first.last_name %></td> 
            <td><%= appointment.client_id ? appointment.client.first_name + " " + appointment.client.last_name : "" %></td>
            <td><%= appointment.date_time %></td>
            <td><%= appointment.status %></td>
            <td><%= appointment.task_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= javascript_tag("$(document).ready( function () {$('#index_table').DataTable({responsive: true, fixedHeader: true});} );") %>

<%= javascript_tag("function filterColumn ( i ) {$('#index_table').DataTable().column( i ).search( $('#col'+i+'_filter').val()).draw();}") %>

<%= javascript_tag do %>
window.onload = function(){  
  $('#index_table').DataTable().column(2).data().unique().sort().each( function ( value ) {
    select = document.getElementById('col2_filter'), option = null;
    option = document.createElement('option');
    option.value = value;
    option.innerHTML = value;
    select.appendChild(option);
  } );
  $('#index_table').DataTable().column(4).data().unique().sort().each( function ( value ) {
    select = document.getElementById('col4_filter'), option = null;
    option = document.createElement('option');
    option.value = value;
    option.innerHTML = value;select.appendChild(option);
  } );
};
<% end %>

</div>