<% @page_title = t(:appointment).pluralize(locale) %>

<%= link_to("<< " + t(:return_to), [@current_user, params[:controller]], :class => 'back-link') %>

<div class="appointments new">
  <h2><%= t(:create) + " " + t(:appointment) %></h2>

  <%= form_for([@current_user, @appointment]) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag(t(:create) + " " + t(:appointment)) %>
    </div>

  <% end %>

</div>