<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'public' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("Timesheet Profesional", "#", :class => "navbar-brand") %>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li><%= link_to("", "#") %></li>
            <li><%= link_to("", "#") %></li>
            <li><%= link_to("", "#") %></li>
          </ul>  
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if I18n.locale == I18n.default_locale %>
                
                <%= link_to(image_tag('gb.png', :size => '22x14', :alt => 'gb') + " English", :locale=>'en') %>
              <% else %>
                <%= link_to(image_tag('co.png', :size => '22x14', :alt => 'co') + " Español", :locale=>'es') %>
              <%end%>
            </li>
          </ul>          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<%= yield %>

</body>
</html>
